body {
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding-top: 100px;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 25px;
}

.flex-box {
  display: flex;
  margin-bottom: 50px;
}

.sec-1 {
  width: 40%;
  padding-left: 7%;
}

.sec-1 img {
  width: 80%;
}

.left-border {
  border-left: 5px solid;
  border-image: linear-gradient(orange, blue);
  border-image-slice: 1;
  width: 100%;
  padding-left: 25px;
}

.left-border h1 {
  font-size: 80px;
}

a {
  text-decoration: none;
  padding: 20px 40px;
  color: white;
  background-image: linear-gradient(red, orange);
  border-radius: 10px;
}

.gold-font {
  color: rgb(214, 184, 11);
}

.sec-2 {
  width: 28%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 25px;
  margin: 0 20px;
}

h2 {
  text-align: center;
  font-size: 50px;
}

.sec-2 h3 {
  font-weight: 700;
  font-size: 35px;
}

.sec-2 img {
  height: 50%;
  width: 50%;
}

.sec-1 h2 {
  text-align: left;
}

h3 {
  font-size: 40px;
}

footer {
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.final-image {
  height: 70%;
}
